/* post_metadata */

#edit-flow {
}

	#edit-flow .inside {
		margin: 0 !important;
		padding: 10px;
	}
	#edit-flow h4 {
		background: #F1F1F1;
		font-weight: bold;
		padding: 8px;
		margin: 0;
		border: 1px solid #DFDFDF;
		-moz-border-radius: 3px;
	}


#ef_meta-data {
	float: right;
	width: 40%;
	border-left: 1px solid #EEEEEE;
}

	#ef_meta-data textarea,
	#ef_meta-data input {
		margin-bottom: 10px;
	}
	#ef_meta-data label {
		vertical-align: baseline;
	}
	#ef_description {
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #EEEEEE;
		margin-bottom: 10px;
		padding-left: 10px;
	}
	
	#ef_description-display {
		font-weight: bold;
	}
	
	#ef_duedate {
		padding-bottom: 10px;
		border-bottom: 1px solid #EEEEEE;
		margin-bottom: 10px;
		padding-left: 10px;
	}
	
	#ef_duedate label {
		padding-left: 18px;
		background: url(../img/date-button.gif) no-repeat;
	}
	
	#ef_duedate-display {
		font-weight: bold;
	}
	
	#ef_location {
		padding-bottom: 10px;
		border-bottom: 1px solid #EEEEEE;
		margin-bottom: 0;
		padding-left: 10px;
	}
	
	#ef_location-display {
		font-weight: bold;
	}
	
	#ef_workflow {
		padding-left: 10px;
	}
	
	#ef_workflow-display {
		font-weight: bold;
	}
	