/** Editorial Metadata **/

/* Spacing between each term */
#ef_editorial_meta_meta_box div.ef_editorial_meta {
	margin-bottom: 10px;
}

#ef_editorial_meta_meta_box div.ef_editorial_meta label,
#ef_editorial_meta_meta_box div.ef_editorial_meta span.description {
	display: block;
}

#ef_editorial_meta_meta_box div.ef_editorial_meta label {
	font-weight: bold;
	font-size: 1.2em;
}

#ef_editorial_meta_meta_box div.ef_editorial_meta_date label:first-child  {
	background: url("../img/date-button.gif") no-repeat scroll 0 0 transparent;
	padding-left: 18px;
}

/* Spacing above Google Maps link */
#ef_editorial_meta_meta_box div.ef_editorial_meta_location div {
	margin-top: 5px;
	line-height: 1.4em;
}

#ef_editorial_meta_meta_box span.description {
	margin: 3px 0 5px;
	font-weight: normal;
}

div#normal-sortables #ef_editorial_meta_meta_box input[type=text],
div#normal-sortables #ef_editorial_meta_meta_box textarea,
div#normal-sortables #ef_editorial_meta_meta_box select {
	min-width: 250px;
	width: 30%;
}

div#side-sortables #ef_editorial_meta_meta_box input[type=text],
div#side-sortables #ef_editorial_meta_meta_box textarea,
div#side-sortables #ef_editorial_meta_meta_box select {
	width: 98%;
}