/* Admin menu icon size */
#adminmenu .toplevel_page_ef-settings .wp-menu-image img {
	width: 16px;
	height: 16px;
}

#ui-datepicker-div {
	margin-top: 30px;
}

.date-time-pick {
	z-index: 999;
	position: relative;
}

/*
	Override Gutenberg 2.0
 */
#ef-comments .comment-item,  #ef-post_following_box .list-filterizer-tabs {
    list-style-type: none;
}
/* Override WP_List_Table styles that are hiding buttons on mobile devices */
.edit-flow-admin .col-wrap .submit {
    display: block;
}

