/* Admin menu icon size */
#adminmenu .toplevel_page_ef-settings .wp-menu-image img {
	width: 16px;
	height: 16px;
}

#ui-datepicker-div {
	margin-top: 30px;
}


/*
	Override Gutenberg 2.0
 */
#ef-comments .comment-item,  #ef-post_following_box .list-filterizer-tabs {
    list-style-type: none;
}
/* Override WP_List_Table styles that are hiding buttons on mobile devices */
.edit-flow-admin .col-wrap .submit {
    display: block;
}

/*
Users list style
 */

.list {
	margin: 0;
}

.pagination li {
	display:inline-block;
	padding:5px;
}

.user-item {
	display: block;
	padding: 10px 5px 5px 5px;
	margin: 0;
	border-bottom: 1px solid #ccc;
}

.user-item:hover {
	background: #EAF2FA;
}

.user-item-name {
	display: block;
	font-size: 14px;
	margin: 0;
}

.user-item-email {
	display: block;
	color: #ccc;
	font-size: 12px;
	margin: 0;
}

.user-item input {
	float: right;
}

.users-list-infos {
	text-align: right;
	display: block;
	border-bottom: 1px solid #ccc;
}

.users-total-info-value{
	font-weight: bold;
}