<?xml version="1.0"?>
<ruleset name="Custom ruleset for Edit Flow">

	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress-VIP-Go"/>

	<file>.</file>

	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/nodeapp/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/wordpress/*</exclude-pattern>
</ruleset>