<?xml version="1.0"?>
<ruleset name="Custom ruleset for Edit Flow">

	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress-VIP-Go">
		<!-- These disallow anonymous functions as action callbacks -->
		<exclude name="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket" />
		<exclude name="PEAR.Functions.FunctionCallSignature.MultipleArguments" />
		<exclude name="PEAR.Functions.FunctionCallSignature.CloseBracketLine" />

		<!-- Allow short array syntax -->
		<exclude name="Universal.Arrays.DisallowShortArraySyntax.Found" />

		<!-- Do not enforce 'class-' prefix -->
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />

		<!-- Allow short ternaries -->
		<exclude name="WordPress.PHP.DisallowShortTernary.Found" />

		<!-- Generates too many false positives -->
		<exclude name="WordPress.WP.CapitalPDangit.Misspelled" />
		<!-- We use trigger_error extensively -->
		<exclude name="WordPress.PHP.DevelopmentFunctions.error_log_trigger_error" />

		<exclude name="WordPress.WP.I18n.InterpolatedVariableSingular" />
		<exclude name="WordPress.WP.I18n.InterpolatedVariablePlural" />
		<exclude name="WordPress.WP.I18n.MissingSingularPlaceholder" />
		<exclude name="WordPress.WP.I18n.NonSingularStringLiteralText" />

		<exclude name="Squiz.PHP.DisallowMultipleAssignments.FoundInControlStructure" />
	</rule>

	<file>.</file>

	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/tests/*</exclude-pattern>
</ruleset>
