name: PHP Tests

on: push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    # Alias 'master' to 'latest'
    name: WP ${{ matrix.wp == 'master' && 'latest' || matrix.wp }} and PHP ${{ matrix.php }}
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.allowed_failure }}

    strategy:
      fail-fast: false
      matrix:
        include:
          # Check lowest supported WP version, with the lowest supported PHP.
          - php: '8.0'
            wp: '6.0'
            allowed_failure: false
          # Check latest WP with the highest supported PHP.
          - php: 'latest'
            wp: 'master'
            allowed_failure: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install wordpress environment
        run: npm -g install @wordpress/env

      - name: Setup PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3
        with:
          composer-options: --prefer-dist --no-progress

      - name: Run PHPCS
        run: composer run cs

      - name: Setup wp-env
        run: wp-env start
        env:
          WP_ENV_CORE: WordPress/WordPress#${{ matrix.wp }}

      - name: Run PHPUnit tests (single site)
        run: composer integration

      - name: Run PHPUnit tests (multisite)
        run: composer integration-ms
